USE [master]
GO
/****** Object:  Database [QLHP]    Script Date: 6/28/2020 10:55:39 AM ******/
CREATE DATABASE [QLHP]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHP]
GO
/****** Object:  Table [CT_CTHOC]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CT_CTHOC](
	[MaCTH] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
	[HocKy] [tinyint] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_CT_CTHOC] PRIMARY KEY CLUSTERED 
(
	[MaCTH] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CT_DKHP]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CT_DKHP](
	[MaDKHP] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CT_DKHP] PRIMARY KEY CLUSTERED 
(
	[MaDKHP] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CT_DS_CHUADONGHP]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CT_DS_CHUADONGHP](
	[MaDS_ChuaDongHP] [nvarchar](10) NOT NULL,
	[MaSV] [nvarchar](8) NOT NULL,
	[SoTienDK] [money] NULL,
	[SoTienDaDong] [money] NULL,
	[SoTienConLai] [nchar](10) NULL,
 CONSTRAINT [PK_CT_DS_CHUADONGHP] PRIMARY KEY CLUSTERED 
(
	[MaDS_ChuaDongHP] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CTHOC]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CTHOC](
	[MaCTH] [nvarchar](10) NOT NULL,
	[MaNganh] [nvarchar](10) NULL,
	[MaKhoa] [nvarchar](10) NULL,
 CONSTRAINT [PK_CTHOC] PRIMARY KEY CLUSTERED 
(
	[MaCTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DIAPHUONG]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DIAPHUONG](
	[MaHuyen] [tinyint] NOT NULL,
	[MaTinh] [tinyint] NOT NULL,
	[TenHuyen] [nvarchar](50) NULL,
	[TenTinh] [nvarchar](50) NULL,
	[VungSau] [bit] NULL,
 CONSTRAINT [PK_DIAPHUONG] PRIMARY KEY CLUSTERED 
(
	[MaHuyen] ASC,
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DKHP]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DKHP](
	[MaDKHP] [nvarchar](10) NOT NULL,
	[MaSV] [nvarchar](8) NULL,
	[NgayLap] [smalldatetime] NULL,
	[HocKy] [tinyint] NULL,
	[NamHoc] [nvarchar](4) NULL,
 CONSTRAINT [PK_DKHP] PRIMARY KEY CLUSTERED 
(
	[MaDKHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DOITUONG]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DOITUONG](
	[MaDoiTuong] [nvarchar](5) NOT NULL,
	[TenDoiTuong] [nvarchar](50) NULL,
	[MucGiamHP] [decimal](3, 2) NULL,
 CONSTRAINT [PK_DOITUONG] PRIMARY KEY CLUSTERED 
(
	[MaDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DS_MHM]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DS_MHM](
	[MaMHM] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DS_MHM] PRIMARY KEY CLUSTERED 
(
	[MaMHM] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DS_SV_CHUADONGHP]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DS_SV_CHUADONGHP](
	[MaDS_ChuaDongHP] [nvarchar](10) NOT NULL,
	[HocKy] [tinyint] NULL,
	[NamHoc] [nvarchar](4) NULL,
 CONSTRAINT [PK_DS_SV_CHUADONGHP] PRIMARY KEY CLUSTERED 
(
	[MaDS_ChuaDongHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [KHOA]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KHOA](
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MONHOC]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MONHOC](
	[MaMH] [nvarchar](10) NOT NULL,
	[TenMH] [nvarchar](100) NULL,
	[LoaiMon] [nvarchar](2) NULL,
	[SoTiet] [tinyint] NULL,
	[SoTC] [tinyint] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MonHocMo]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MonHocMo](
	[MaMHM] [nvarchar](10) NOT NULL,
	[HocKy] [tinyint] NULL,
	[NamHoc] [nvarchar](4) NULL,
 CONSTRAINT [PK_MonHocMo] PRIMARY KEY CLUSTERED 
(
	[MaMHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NGANH]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NGANH](
	[MaNganh] [nvarchar](10) NOT NULL,
	[TenNganh] [nvarchar](50) NULL,
	[MaKhoa] [nvarchar](10) NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PHIEUTHU_HP]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PHIEUTHU_HP](
	[MaPhieuThuHP] [nvarchar](10) NOT NULL,
	[MaDKHP] [nvarchar](10) NULL,
	[MaSV] [nvarchar](8) NULL,
	[NgayLap] [smalldatetime] NULL,
	[SoTIenThu] [money] NULL,
 CONSTRAINT [PK_PHIEUTHU_HP] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SINHVIEN]    Script Date: 6/28/2020 10:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SINHVIEN](
	[MaSV] [nvarchar](8) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[MaHuyen] [tinyint] NULL,
	[MaTinh] [tinyint] NULL,
	[MaDoiTuong] [nvarchar](5) NULL,
	[MaNganh] [nvarchar](10) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [CT_CTHOC] ([MaCTH], [MaMH], [HocKy], [GhiChu]) VALUES (N'HTTT2018', N'ENG001', 1, NULL)
INSERT [CT_CTHOC] ([MaCTH], [MaMH], [HocKy], [GhiChu]) VALUES (N'HTTT2018', N'ENG002', 1, NULL)
INSERT [CT_CTHOC] ([MaCTH], [MaMH], [HocKy], [GhiChu]) VALUES (N'TMDT2018', N'ENG001', 1, NULL)
GO
INSERT [CTHOC] ([MaCTH], [MaNganh], [MaKhoa]) VALUES (N'HTTT2018', N'HTTT', N'HTTT')
INSERT [CTHOC] ([MaCTH], [MaNganh], [MaKhoa]) VALUES (N'KHMT2017', N'KHMT', N'KHMT')
INSERT [CTHOC] ([MaCTH], [MaNganh], [MaKhoa]) VALUES (N'TMDT2018', N'TMDT', N'HTTT')
GO
INSERT [DIAPHUONG] ([MaHuyen], [MaTinh], [TenHuyen], [TenTinh], [VungSau]) VALUES (1, 1, N'Quận Ba Đình', N'Thành phố Hà Nội', 0)
INSERT [DIAPHUONG] ([MaHuyen], [MaTinh], [TenHuyen], [TenTinh], [VungSau]) VALUES (2, 1, N'Quận Hoàn Kiếm', N'Thành phố Hà Nội', 0)
INSERT [DIAPHUONG] ([MaHuyen], [MaTinh], [TenHuyen], [TenTinh], [VungSau]) VALUES (3, 1, N'Quận Tây Hồ', N'Thành phố Hà Nội', 0)
GO
INSERT [DOITUONG] ([MaDoiTuong], [TenDoiTuong], [MucGiamHP]) VALUES (N'1', N'Vùng sâu vùng xa', CAST(0.30 AS Decimal(3, 2)))
INSERT [DOITUONG] ([MaDoiTuong], [TenDoiTuong], [MucGiamHP]) VALUES (N'2', N'Thương binh liệt sĩ', CAST(0.50 AS Decimal(3, 2)))
INSERT [DOITUONG] ([MaDoiTuong], [TenDoiTuong], [MucGiamHP]) VALUES (N'3', N'Khuyết tật', CAST(0.40 AS Decimal(3, 2)))
GO
INSERT [KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'CNPM', N'Công nghệ phần mềm')
INSERT [KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'HTTT', N'Hệ thống thông tin')
INSERT [KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'KHKT', N'Khoa học và Kỹ thuật thông tin')
GO
INSERT [MONHOC] ([MaMH], [TenMH], [LoaiMon], [SoTiet], [SoTC]) VALUES (N'ENG001', N'Anh văn 1', N'LT', 30, 4)
INSERT [MONHOC] ([MaMH], [TenMH], [LoaiMon], [SoTiet], [SoTC]) VALUES (N'ENG002', N'Anh văn 2', N'LT', 30, 4)
INSERT [MONHOC] ([MaMH], [TenMH], [LoaiMon], [SoTiet], [SoTC]) VALUES (N'MA003', N'Đại số tuyến tính', N'LT', 30, 3)
GO
INSERT [NGANH] ([MaNganh], [TenNganh], [MaKhoa]) VALUES (N'ATTT', N'An toàn thông tin', N'MMTTT')
INSERT [NGANH] ([MaNganh], [TenNganh], [MaKhoa]) VALUES (N'CNTT', N'Công nghệ thông tin', N'KHKT')
INSERT [NGANH] ([MaNganh], [TenNganh], [MaKhoa]) VALUES (N'HTTT', N'Hệ thống thông tin', N'HTTT')
GO
INSERT [SINHVIEN] ([MaSV], [HoTen], [NgaySinh], [MaHuyen], [MaTinh], [MaDoiTuong], [MaNganh]) VALUES (N'18521067', N'Vũ Minh Luân', CAST(N'2000-06-18T00:00:00' AS SmallDateTime), 4, 2, N'3', N'KHMT')
INSERT [SINHVIEN] ([MaSV], [HoTen], [NgaySinh], [MaHuyen], [MaTinh], [MaDoiTuong], [MaNganh]) VALUES (N'18521231', N'Nguyễn Văn Phát', CAST(N'2000-01-21T00:00:00' AS SmallDateTime), 1, 1, N'1', N'TMDT')
INSERT [SINHVIEN] ([MaSV], [HoTen], [NgaySinh], [MaHuyen], [MaTinh], [MaDoiTuong], [MaNganh]) VALUES (N'18521374', N'Đặng Ngọc Tân', CAST(N'2000-05-08T00:00:00' AS SmallDateTime), 2, 1, NULL, N'HTTT')
GO
ALTER TABLE [CT_CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_CTHOC_CTHOC] FOREIGN KEY([MaCTH])
REFERENCES [CTHOC] ([MaCTH])
GO
ALTER TABLE [CT_CTHOC] CHECK CONSTRAINT [FK_CT_CTHOC_CTHOC]
GO
ALTER TABLE [CT_CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_CTHOC_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [MONHOC] ([MaMH])
GO
ALTER TABLE [CT_CTHOC] CHECK CONSTRAINT [FK_CT_CTHOC_MONHOC]
GO
ALTER TABLE [CT_DKHP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DKHP_DKHP] FOREIGN KEY([MaDKHP])
REFERENCES [DKHP] ([MaDKHP])
GO
ALTER TABLE [CT_DKHP] CHECK CONSTRAINT [FK_CT_DKHP_DKHP]
GO
ALTER TABLE [CT_DKHP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DKHP_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [MONHOC] ([MaMH])
GO
ALTER TABLE [CT_DKHP] CHECK CONSTRAINT [FK_CT_DKHP_MONHOC]
GO
ALTER TABLE [CT_DS_CHUADONGHP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DS_CHUADONGHP_DS_SV_CHUADONGHP] FOREIGN KEY([MaDS_ChuaDongHP])
REFERENCES [DS_SV_CHUADONGHP] ([MaDS_ChuaDongHP])
GO
ALTER TABLE [CT_DS_CHUADONGHP] CHECK CONSTRAINT [FK_CT_DS_CHUADONGHP_DS_SV_CHUADONGHP]
GO
ALTER TABLE [CT_DS_CHUADONGHP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DS_CHUADONGHP_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [SINHVIEN] ([MaSV])
GO
ALTER TABLE [CT_DS_CHUADONGHP] CHECK CONSTRAINT [FK_CT_DS_CHUADONGHP_SINHVIEN]
GO
ALTER TABLE [CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTHOC_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [KHOA] ([MaKhoa])
GO
ALTER TABLE [CTHOC] CHECK CONSTRAINT [FK_CTHOC_KHOA]
GO
ALTER TABLE [CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTHOC_NGANH] FOREIGN KEY([MaNganh])
REFERENCES [NGANH] ([MaNganh])
GO
ALTER TABLE [CTHOC] CHECK CONSTRAINT [FK_CTHOC_NGANH]
GO
ALTER TABLE [DKHP]  WITH CHECK ADD  CONSTRAINT [FK_DKHP_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [SINHVIEN] ([MaSV])
GO
ALTER TABLE [DKHP] CHECK CONSTRAINT [FK_DKHP_SINHVIEN]
GO
ALTER TABLE [DS_MHM]  WITH CHECK ADD  CONSTRAINT [FK_DS_MHM_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [MONHOC] ([MaMH])
GO
ALTER TABLE [DS_MHM] CHECK CONSTRAINT [FK_DS_MHM_MONHOC]
GO
ALTER TABLE [DS_MHM]  WITH CHECK ADD  CONSTRAINT [FK_DS_MHM_MonHocMo] FOREIGN KEY([MaMHM])
REFERENCES [MonHocMo] ([MaMHM])
GO
ALTER TABLE [DS_MHM] CHECK CONSTRAINT [FK_DS_MHM_MonHocMo]
GO
ALTER TABLE [NGANH]  WITH CHECK ADD  CONSTRAINT [FK_NGANH_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [KHOA] ([MaKhoa])
GO
ALTER TABLE [NGANH] CHECK CONSTRAINT [FK_NGANH_KHOA]
GO
ALTER TABLE [PHIEUTHU_HP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_HP_DKHP] FOREIGN KEY([MaDKHP])
REFERENCES [DKHP] ([MaDKHP])
GO
ALTER TABLE [PHIEUTHU_HP] CHECK CONSTRAINT [FK_PHIEUTHU_HP_DKHP]
GO
ALTER TABLE [PHIEUTHU_HP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_HP_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [SINHVIEN] ([MaSV])
GO
ALTER TABLE [PHIEUTHU_HP] CHECK CONSTRAINT [FK_PHIEUTHU_HP_SINHVIEN]
GO
ALTER TABLE [SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_DIAPHUONG] FOREIGN KEY([MaHuyen], [MaTinh])
REFERENCES [DIAPHUONG] ([MaHuyen], [MaTinh])
GO
ALTER TABLE [SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_DIAPHUONG]
GO
ALTER TABLE [SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_DOITUONG] FOREIGN KEY([MaDoiTuong])
REFERENCES [DOITUONG] ([MaDoiTuong])
GO
ALTER TABLE [SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_DOITUONG]
GO
ALTER TABLE [SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NGANH] FOREIGN KEY([MaNganh])
REFERENCES [NGANH] ([MaNganh])
GO
ALTER TABLE [SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NGANH]
GO
USE [master]
GO
