USE [master]
GO
/****** Object:  Database [QLHP]    Script Date: 6/28/2020 11:14:21 PM ******/
CREATE DATABASE [QLHP]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHP]
GO
/****** Object:  Table [dbo].[CT_CTHOC]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CTHOC](
	[MaCTH] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
	[HocKy] [tinyint] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_CT_CTHOC] PRIMARY KEY CLUSTERED 
(
	[MaCTH] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DKHP]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DKHP](
	[MaDKHP] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CT_DKHP] PRIMARY KEY CLUSTERED 
(
	[MaDKHP] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DS_CHUADONGHP]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DS_CHUADONGHP](
	[MaDS_ChuaDongHP] [nvarchar](10) NOT NULL,
	[MaSV] [nvarchar](8) NOT NULL,
	[SoTienDK] [money] NULL,
	[SoTienDaDong] [money] NULL,
	[SoTienConLai] [nchar](10) NULL,
 CONSTRAINT [PK_CT_DS_CHUADONGHP] PRIMARY KEY CLUSTERED 
(
	[MaDS_ChuaDongHP] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHOC]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOC](
	[MaCTH] [nvarchar](10) NOT NULL,
	[MaNganh] [nvarchar](10) NULL,
	[MaKhoa] [nvarchar](10) NULL,
 CONSTRAINT [PK_CTHOC] PRIMARY KEY CLUSTERED 
(
	[MaCTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIAPHUONG]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAPHUONG](
	[MaHuyen] [tinyint] NOT NULL,
	[MaTinh] [tinyint] NOT NULL,
	[TenHuyen] [nvarchar](50) NULL,
	[TenTinh] [nvarchar](50) NULL,
	[VungSau] [bit] NULL,
 CONSTRAINT [PK_DIAPHUONG] PRIMARY KEY CLUSTERED 
(
	[MaHuyen] ASC,
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DKHP]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKHP](
	[MaDKHP] [nvarchar](10) NOT NULL,
	[MaSV] [nvarchar](8) NULL,
	[NgayLap] [smalldatetime] NULL,
	[HocKy] [tinyint] NULL,
	[NamHoc] [nvarchar](4) NULL,
 CONSTRAINT [PK_DKHP] PRIMARY KEY CLUSTERED 
(
	[MaDKHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOITUONG]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITUONG](
	[MaDoiTuong] [nvarchar](5) NOT NULL,
	[TenDoiTuong] [nvarchar](50) NULL,
	[MucGiamHP] [decimal](3, 2) NULL,
 CONSTRAINT [PK_DOITUONG] PRIMARY KEY CLUSTERED 
(
	[MaDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DS_MHM]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_MHM](
	[MaMHM] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DS_MHM] PRIMARY KEY CLUSTERED 
(
	[MaMHM] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DS_SV_CHUADONGHP]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_SV_CHUADONGHP](
	[MaDS_ChuaDongHP] [nvarchar](10) NOT NULL,
	[HocKy] [tinyint] NULL,
	[NamHoc] [nvarchar](4) NULL,
	[MaSV] [nvarchar](8) NOT NULL,
	[SoTienDK] [money] NULL,
	[SoTienDaDong] [money] NULL,
	[SoTienConLai] [money] NULL,
 CONSTRAINT [PK_DS_SV_CHUADONGHP] PRIMARY KEY CLUSTERED 
(
	[MaDS_ChuaDongHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [nvarchar](10) NOT NULL,
	[TenMH] [nvarchar](100) NULL,
	[LoaiMon] [nvarchar](2) NULL,
	[SoTiet] [tinyint] NULL,
	[SoTC] [tinyint] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHocMo]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHocMo](
	[MaMHM] [nvarchar](10) NOT NULL,
	[HocKy] [tinyint] NULL,
	[NamHoc] [nvarchar](4) NULL,
 CONSTRAINT [PK_MonHocMo] PRIMARY KEY CLUSTERED 
(
	[MaMHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MaNganh] [nvarchar](10) NOT NULL,
	[TenNganh] [nvarchar](50) NULL,
	[MaKhoa] [nvarchar](10) NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHU_HP]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU_HP](
	[MaPhieuThuHP] [nvarchar](10) NOT NULL,
	[MaDKHP] [nvarchar](10) NULL,
	[NgayLap] [smalldatetime] NULL,
	[SoTIenThu] [money] NULL,
 CONSTRAINT [PK_PHIEUTHU_HP] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/28/2020 11:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [nvarchar](8) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[MaHuyen] [tinyint] NULL,
	[MaTinh] [tinyint] NULL,
	[MaDoiTuong] [nvarchar](5) NULL,
	[MaNganh] [nvarchar](10) NULL,
	[GioiTinh] [nchar](10) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CT_CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_CTHOC_CTHOC] FOREIGN KEY([MaCTH])
REFERENCES [dbo].[CTHOC] ([MaCTH])
GO
ALTER TABLE [dbo].[CT_CTHOC] CHECK CONSTRAINT [FK_CT_CTHOC_CTHOC]
GO
ALTER TABLE [dbo].[CT_CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_CTHOC_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[CT_CTHOC] CHECK CONSTRAINT [FK_CT_CTHOC_MONHOC]
GO
ALTER TABLE [dbo].[CT_DKHP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DKHP_DKHP] FOREIGN KEY([MaDKHP])
REFERENCES [dbo].[DKHP] ([MaDKHP])
GO
ALTER TABLE [dbo].[CT_DKHP] CHECK CONSTRAINT [FK_CT_DKHP_DKHP]
GO
ALTER TABLE [dbo].[CT_DKHP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DKHP_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[CT_DKHP] CHECK CONSTRAINT [FK_CT_DKHP_MONHOC]
GO
ALTER TABLE [dbo].[CT_DS_CHUADONGHP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DS_CHUADONGHP_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[CT_DS_CHUADONGHP] CHECK CONSTRAINT [FK_CT_DS_CHUADONGHP_SINHVIEN]
GO
ALTER TABLE [dbo].[CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTHOC_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[CTHOC] CHECK CONSTRAINT [FK_CTHOC_KHOA]
GO
ALTER TABLE [dbo].[CTHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTHOC_NGANH] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NGANH] ([MaNganh])
GO
ALTER TABLE [dbo].[CTHOC] CHECK CONSTRAINT [FK_CTHOC_NGANH]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [FK_DKHP_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [FK_DKHP_SINHVIEN]
GO
ALTER TABLE [dbo].[DS_MHM]  WITH CHECK ADD  CONSTRAINT [FK_DS_MHM_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[DS_MHM] CHECK CONSTRAINT [FK_DS_MHM_MONHOC]
GO
ALTER TABLE [dbo].[DS_MHM]  WITH CHECK ADD  CONSTRAINT [FK_DS_MHM_MonHocMo] FOREIGN KEY([MaMHM])
REFERENCES [dbo].[MonHocMo] ([MaMHM])
GO
ALTER TABLE [dbo].[DS_MHM] CHECK CONSTRAINT [FK_DS_MHM_MonHocMo]
GO
ALTER TABLE [dbo].[DS_SV_CHUADONGHP]  WITH CHECK ADD  CONSTRAINT [FK_DS_SV_CHUADONGHP_DS_SV_CHUADONGHP1] FOREIGN KEY([MaDS_ChuaDongHP])
REFERENCES [dbo].[DS_SV_CHUADONGHP] ([MaDS_ChuaDongHP])
GO
ALTER TABLE [dbo].[DS_SV_CHUADONGHP] CHECK CONSTRAINT [FK_DS_SV_CHUADONGHP_DS_SV_CHUADONGHP1]
GO
ALTER TABLE [dbo].[DS_SV_CHUADONGHP]  WITH CHECK ADD  CONSTRAINT [FK_DS_SV_CHUADONGHP_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[DS_SV_CHUADONGHP] CHECK CONSTRAINT [FK_DS_SV_CHUADONGHP_SINHVIEN]
GO
ALTER TABLE [dbo].[NGANH]  WITH CHECK ADD  CONSTRAINT [FK_NGANH_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[NGANH] CHECK CONSTRAINT [FK_NGANH_KHOA]
GO
ALTER TABLE [dbo].[PHIEUTHU_HP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_HP_DKHP] FOREIGN KEY([MaDKHP])
REFERENCES [dbo].[DKHP] ([MaDKHP])
GO
ALTER TABLE [dbo].[PHIEUTHU_HP] CHECK CONSTRAINT [FK_PHIEUTHU_HP_DKHP]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_DIAPHUONG] FOREIGN KEY([MaHuyen], [MaTinh])
REFERENCES [dbo].[DIAPHUONG] ([MaHuyen], [MaTinh])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_DIAPHUONG]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_DOITUONG] FOREIGN KEY([MaDoiTuong])
REFERENCES [dbo].[DOITUONG] ([MaDoiTuong])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_DOITUONG]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NGANH] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NGANH] ([MaNganh])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NGANH]
GO
USE [master]
GO
